{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <table class="table">
                {% for folder in folders %}
                    <tr>
                        <td>{{ folder.name }}</td>
                    </tr>
                    {% for child in folder.children %}
                        <tr>
                            <td>{{ child.name }}</td>
                        </tr>
                        {% for schild in child.children %}
                            <tr>
                                <td>{{ schild.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
