{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to explorer</h1>
    </div>
    <table class="table table-hover">
        <tbody>
            {% for folder in folders %}
                <tr>
                    <td>
                        <span class="oi oi-folder" title="icon name" aria-hidden="true"></span> {{ folder.name }}
                    </td>
                </tr>
                {% for child in folder.children %}
                    <tr>
                        <td>
                            <span class="oi oi-folder" title="icon name" aria-hidden="true"></span>
                            {{ child.name }}
                        </td>
                    </tr>
                    {% for schild in child.children %}
                        <tr>
                            <td>
                                <span class="oi oi-folder" title="icon name" aria-hidden="true"></span>
                                {{ schild.name }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
