{% extends 'base.html.twig' %}

{% block body %}
<div class="container main-container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="search-input" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="search-action">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <table class="explorer-table table table-hover">
        <tbody>
            {#{% for folder in folders %}#}
                {#<tr>#}
                    {#<td>#}
                        {#<span class="oi oi-folder" title="icon name" aria-hidden="true"></span> {{ folder.name }}#}
                    {#</td>#}
                {#</tr>#}
                {#{% for child in folder.children %}#}
                    {#<tr>#}
                        {#<td>#}
                            {#<span class="oi oi-folder" title="icon name" aria-hidden="true"></span>#}
                            {#{{ child.name }}#}
                        {#</td>#}
                    {#</tr>#}
                    {#{% for schild in child.children %}#}
                        {#<tr>#}
                            {#<td>#}
                                {#<span class="oi oi-folder" title="icon name" aria-hidden="true"></span>#}
                                {#{{ schild.name }}#}
                            {#</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                {#{% endfor %}#}
            {#{% endfor %}#}
        </tbody>
    </table>
</div>
{% endblock %}
